---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=resturants&location=pueblo,co&open_at=1564423200&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4959'
      Ratelimit-Resettime:
      - '2019-07-30T00:00:00+00:00'
      X-Zipkin-Id:
      - b47ce0bc27c441c5
      X-Proxied:
      - 10-69-140-124-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "M4MwxQAA58B7ENV8ootI-w", "alias": "kans-kitchen-pueblo",
        "name": "Kan''s Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/ZZVNpsvc_x6p5iY8CCpzUg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 17, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "hotdogs", "title": "Fast Food"}], "rating": 4.0, "coordinates":
        {"latitude": 38.2401504516602, "longitude": -104.643249511719}, "transactions":
        [], "price": "$", "location": {"address1": "1620 S Prairie Ave", "address2":
        null, "address3": null, "city": "Pueblo", "zip_code": "81005", "country":
        "US", "state": "CO", "display_address": ["1620 S Prairie Ave", "Pueblo, CO
        81005"]}, "phone": "+17195660209", "display_phone": "(719) 566-0209", "distance":
        6971.117622629485}, {"id": "TKC7xro_LZOG08-wbzeCcw", "alias": "china-lantern-pueblo",
        "name": "China Lantern", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/2bJv6ySHQ7M1ppeazs-i9Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/china-lantern-pueblo?adjust_creative=<YELP_CLIENT_ID>&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=<YELP_CLIENT_ID>",
        "review_count": 10, "categories": [{"alias": "chinese", "title": "Chinese"}[...]
